@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.category::after {
  width: 0px;
  transition: width linear 0.2s;
}

.titlehome::after {
  border-top: 2px solid #b019f6;
  content: "";
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 40%;
  width: 100%;
  z-index: -1;
  animation: expandBorder ease-in 0.2s;
}

@keyframes expandBorder {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
.carousel_active__img::before {
  position: absolute;
  content: "";
  top: 110%;
  width: 100%;
  height: 2px;
  background-color: rgba(104, 102, 102, 0.694);
  animation: expandBorder ease-in 0.2s;
}

.carousel_active__img:hover::before {
  transform: scaleX(1);
}
.fade-in-right {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInRight forwards 1s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft forwards 1s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.description-content {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.expanded {
  max-height: 1000px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn forwards 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulsate-border {
  animation: pulsate 0.5s ease-in;
}

@keyframes selectPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.selected {
  animation: selectPulse 0.5s;
  background-color: #000;
  color: white;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #eceff1;
}

@keyframes hoverPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.hover-pulse {
  animation: hoverPulse 0.5s;
}
